{# NETPALM SERVICE BOILERPLATE #}
{#
!!!! EXAMPLE PAYLOAD AS BELOW
{
	"operation": "retrieve",
	"args":{
		"hosts":["10.0.2.25","10.0.2.23"],
	}
}
!!!! ANY PAYLOAD CAN BE ADDED TO THE ARGS DICT, THESE ARE THEN AVAILABLE IN THE J2 TEMPLATE AS BELOW
#}
[
  {% for host in hosts %}
  {
    "supported_methods": [
      {
        "operation": "retrieve",
        "payload": {
					"library": "netmiko",
					"connection_args": {
						"device_type": "{{driver}}",
						"host": "{{host}}",
						"username": "{{username}}",
						"password": "{{password}}",
					},
					"command": "{{command}}",
					"args":{
						"use_textfsm": "true"
					}
        }
      }
    ]
  }{% if not loop.last %},{% endif %}{# THIS IS REQUIRED TO CONSTRUCT THE DATA CORRECTLY #}
  {% endfor -%}
]




