{# DEMO NETPALM SERVICE#}
{# MANAGES BASIC SNMP LIFECYCLE ON MULTIPLE HOSTS #}
{#

!!!! EXAMPLE PAYLOAD TO SEND IN TO SERVICE API AS BELOW
{
	"operation": "retrieve",
	"args": {
		"hosts": [
			"10.0.2.25",
			"10.0.2.23"
		],
		"username": "{{device_username}}",
		"password": "{{device_password}}",
		"snmp_community": "test_community",
		"snmp_location": "test_location",
		"snmp_contact": "test_contact"

	},
	"queue_strategy": "fifo"
}

or

{
	"operation": "delete",
	"args": {
		"hosts": [
			"10.0.2.25",
			"10.0.2.23"
		],
		"username": "{{device_username}}",
		"password": "{{device_password}}",
		"snmp_community": "test_community",
		"snmp_location": "test_location",
		"snmp_contact": "test_contact"

	},
	"queue_strategy": "fifo"
}

or

{
	"operation": "create",
	"args": {
		"hosts": [
			"10.0.2.25",
			"10.0.2.23"
		],
		"username": "{{device_username}}",
		"password": "{{device_password}}",
		"snmp_community": "test_community",
		"snmp_location": "test_location",
		"snmp_contact": "test_contact"

	},
	"queue_strategy": "fifo"
}

#}
[
  {% for host in hosts %}
  {
    "supported_methods": [
      {
        "operation": "create",
        "payload": {
          "library": "napalm",
          "connection_args": {
            "device_type": "cisco_ios",
            "host": "{{host}}",
            "username": "{{username}}",
            "password": "{{password}}"
          },
        "j2config": {
    	    "template":"cisco_ios_add_snmp_config",
    	    "args":{
    		    "snmp_community": "{{snmp_community}}",
            "snmp_location": "{{snmp_location}}",
            "snmp_contact": "{{snmp_contact}}"
    	    }
        },
        "post_checks": [
          {
            "match_type": "include",
            "get_config_args": {
              "command": "show run | i snmp "
            },
            "match_str": [
              "snmp-server community {{snmp_community}}",
              "snmp-server location {{snmp_location}}",
              "snmp-server contact {{snmp_contact}}"
            ]
          }
        ]
      }
      },
      {
        "operation": "retrieve",
        "payload": {
          "library": "netmiko",
          "connection_args": {
            "device_type": "cisco_ios",
            "host": "{{host}}",
            "username": "{{username}}",
            "password": "{{password}}"
          },
        "command": "show run | i snmp",
        "post_checks": [
          {
            "match_type": "include",
            "get_config_args": {
              "command": "show run | i snmp "
            },
            "match_str": [
              "snmp-server community {{snmp_community}}",
              "snmp-server location {{snmp_location}}",
              "snmp-server contact {{snmp_contact}}"
            ]
          }
        ]
        }
      },
      {
        "operation": "delete",
        "payload": {
          "library": "napalm",
          "connection_args": {
            "device_type": "cisco_ios",
            "host": "{{host}}",
            "username": "{{username}}",
            "password": "{{password}}"
          },
        "j2config": {
    	    "template":"cisco_ios_remove_snmp_config",
    	    "args":{
    		    "snmp_community": "{{snmp_community}}",
            "snmp_location": "{{snmp_location}}",
            "snmp_contact": "{{snmp_contact}}"
    	    }
        },
        "post_checks": [
          {
            "match_type": "exclude",
            "get_config_args": {
              "command": "show run | i snmp "
            },
            "match_str": [
              "snmp-server community {{snmp_community}}",
              "snmp-server location {{snmp_location}}",
              "snmp-server contact {{snmp_contact}}"
            ]
          }
        ]
      }
      }
    ]
  }{% if not loop.last %},{% endif %}{# THIS IS REQUIRED TO CONSTRUCT THE DATA CORRECTLY #}
  {% endfor -%}
]




