{# DEMO NETPALM SERVICE#}
{# CREATES IP ADDRESS ON INTERFACES #}
{#
!!!! EXAMPLE PAYLOAD AS BELOW
{
	"operation": "delete",
	"args":{
		"hosts":["10.0.2.25","10.0.2.23"],
		"username":"admin",
		"password":"admin",
		"interfaces":{
			"FastEthernet1/0":"192.168.3.1 255.255.255.0",
			"FastEthernet2/0":"192.168.1.1 255.255.255.0",
			"FastEthernet3/0":"192.168.2.1 255.255.255.0"
		}
	}
}
{
	"operation": "retrieve",
	"args":{
		"hosts":["10.0.2.25","10.0.2.23"],
		"username":"admin",
		"password":"admin",
		"interfaces":{
		}
	}
}
{
	"operation": "delete",
	"args":{
		"hosts":["10.0.2.25","10.0.2.23"],
		"username":"admin",
		"password":"admin",
		"interfaces":{
			"FastEthernet1/0":"192.168.3.1 255.255.255.0",
			"FastEthernet2/0":"192.168.1.1 255.255.255.0",
			"FastEthernet3/0":"192.168.2.1 255.255.255.0"
		}
	}
}
#}
[
  {% for host in hosts %}
  {
    "supported_methods": [
      {
        "operation": "create",
        "payload": {
          "library": "netmiko",
          "connection_args": {
            "device_type": "cisco_ios",
            "host": "{{host}}",
            "username": "{{username}}",
            "password": "{{password}}"
          },
        "j2config": {
    	    "template":"cisco_ios_add_ip_int",
    	    "args":{
            {# tojson filter is required if passing in json objects into service template eg dict list #}
    		    "interfaces": {{interfaces | tojson }}
    	    }
        }
      }
      },
      {
        "operation": "retrieve",
        "payload": {
          "library": "netmiko",
          "connection_args": {
            "device_type": "cisco_ios",
            "host": "{{host}}",
            "username": "{{username}}",
            "password": "{{password}}"
          },
        "command": "show ip int brief",
        "args":{
            "use_textfsm":true
        }
        }
      },
      {
        "operation": "delete",
        "payload": {
          "library": "napalm",
          "connection_args": {
            "device_type": "cisco_ios",
            "host": "{{host}}",
            "username": "{{username}}",
            "password": "{{password}}"
          },
        "j2config": {
    	    "template":"cisco_ios_remove_ip_int",
    	    "args":{
            {# tojson filter is required if passing in json objects into service template eg dict list #}
    		    "interfaces": {{interfaces | tojson }}
    	    }
        }
      }
      }
    ]
  }{% if not loop.last %},{% endif %}{# THIS IS REQUIRED TO CONSTRUCT THE DATA CORRECTLY #}
  {% endfor %}
]




